*.mesh
*.shader
*.wav
*.mp3
*.m4r
wallpaper/
soundtrack/
ringtone/
sound/
previewer_assets/
pdx_online_assets/
pdx_launcher/
pdx_browser/
music/
licenses/
launcher-assets/
fonts/
ebook/
dlc/
dlc_metadata/
crash_reporter/
gfx/models
*.fxh
flags/
tweakergui_assets/
map/
prescripter_countries/
locales/
.vs/